.advantages-section {
  padding: 60px 0;
  background-color: var(--background-white-color);
}

.svg-wrapper {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-grey);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages-section-title {
  margin-bottom: 10px;
  @include font(700, 14px, 1.142, 0.03em);
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color);
}

.advantages-text {
  @include font(400, 14px, 1.714, 0.03em);
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .advantages-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .advantages-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-section {
    padding: 94px 0;
  }

  .advantages-item {
    width: calc((100% - 4 * 30px) / 4);
  }
}
