.contacts {
  padding: 60px 0;
  background-color: var(--background-color-dark);
  text-align: center;
}

.footer-logo {
  color: var(--white-text-color);
  font-family: var(--secondary-font);
  @include font(700, 24px, 1.166, 0.03em);
}

.logo-accent {
  color: var(--accent-color);
}

.contacts-container {
  margin-top: 20px;
}

.contacts-list {
  font-style: normal;
  @include font(400, 14px, 1.714, 0.03em);
}

.contact-address {
  color: var(--white-text-color);
}

.contacts-link {
  color: var(--contacts-text-color);
}

.contacts-item + .contacts-item {
  margin-top: 8px;
}

.social-links-wrapper {
  margin-top: 60px;
}

.social-links-slogan {
  margin-bottom: 20px;
  @include font(700, 14px, 1.142, 0.03em);
  text-transform: uppercase;
  color: var(--white-text-color);
}

.social-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-link-logo {
  fill: var(--white-text-color);
}

.subscription-wrapper {
  margin-top: 60px;
}

.subscription-slogan {
  @include font(700, 14px, 1.142, 0.03em);
  text-transform: uppercase;
  color: var(--white-text-color);
}

.email-input {
  width: 450px;
  height: 50px;
  margin-top: 20px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-text-color);
}

@media screen and (min-width: 320px) {
  .email-input {
    width: 280px;
  }
}

.subscribe-btn {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  @include font(700, 16px, 1.875, 0.06em);
  text-align: center;

  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.subscription-icon {
  max-width: 24px;
  max-height: 24px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .set-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  .social-links-wrapper {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts > .container {
    display: flex;
    align-items: baseline;
  }

  .contacts-container {
    margin-top: 20px;
  }

  .contacts-item + .contacts-item {
    margin-top: 9px;
  }

  .contacts-wrapper {
    margin-right: 70px;
    text-align: left;
  }

  .social-links-wrapper {
    text-align: left;
  }

  .subscription-wrapper {
    margin-top: 0;
    width: 570px;
    margin-left: 93px;
  }

  .email-input {
    max-width: 358px;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
  }

  .subscription-slogan {
    text-align: left;
  }

  .email-input {
    margin-right: 12px;
  }
}

// .footer-logo {
//     font-family: var(--secondary-font);
//     @include font(700, 26px, 1.142, 0.03em);
//     letter-spacing: 0.03em;
//     color: var(--logo-black-color);
// }

// .contacts {
//     padding: 60px 0;
//     background-color: var(--background-color-dark);

//     & > .container {
//         display: flex;
//         align-items: baseline;
//     }
// }

// .footer-logo {
//     color: var(--white-text-color);
// }

// .contacts-container {
//     margin-top: 20px;
// }

// .contacts-list {
//     font-style: normal;
//     @include font(400, 14px, 1.714, 0.03em);
// }

// .contact-address {
//     color: var(--white-text-color);
// }

// .contacts-link {
//     color: var(--contacts-text-color);
// }

// .contacts-item + .contacts-item {
//     margin-top: 9px;
// }

// .contacts-wrapper {
//     margin-right: 70px;
// }

// .social-links-slogan {
//     margin-bottom: 20px;
//     @include font(700, 14px, 1.142, 0.03em);
//     text-transform: uppercase;
//     color: var(--white-text-color);
// }

// .social-links-list {
//     display: flex;
// }

// .social-links-item {
//     margin-right: 10px;
// }

// .social-link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 44px;
//     height: 44px;
//     background-color: rgba(255, 255, 255, 0.1);
//     border-radius: 50%;
//     transition: background-color 250ms var(--timing-function);

//     &:hover,
//     &:focus {
//         background-color: var(--accent-color);
//     }
// }

// .social-link-logo {
//     fill: var(--white-text-color);;
// }

// .subscription-wrapper {
//     width: 570px;
//     margin-left: 93px;
// }

// .footer-form {
//     display: flex;
//     flex-direction: row;
// }

// .subscription-slogan {
//     margin-bottom: 20px;
//     @include font(700, 14px, 1.142, 0.03em);
//     text-transform: uppercase;
//     color: var(--white-text-color);
// }

// .email-input {
//     width: 358px;
//     height: 50px;
//     padding-left: 16px;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     box-sizing: border-box;
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     background-color: transparent;
//     color: var(--white-text-color);
// }

// .subscribe-btn {
//     display: flex;
//     align-items: center;
//     overflow: hidden;
//     width: 200px;
//     height: 50px;
//     padding: 10px 29px;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border: none;
//     border-radius: 4px;

//     @include font(700, 16px, 1.875, 0.06em);
//     text-align: center;

//     color: var(--white-text-color);
//     background-color: var(--accent-color);
//     cursor: pointer;
//     margin-left: 12px;
// }

// .subscription-icon {
//     min-width: 24px;
//     min-height: 24px;
//     margin-left: 10px;
// }
