.header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--secondary-font);
  @include font(700, 24px, 1.166, 0.03em);
  letter-spacing: 0.03em;
  color: var(--logo-black-color);
}

.logo-accent {
  color: var(--accent-color);
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.header {
  position: relative;
}

.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  padding: 60px;
  background-color: var(--background-color-white);
  text-align: center;
  @include font(500, 18px, 1.166, 0.02em);

  &.is-open {
    display: block;
  }
}

.nav-list {
  margin-bottom: 60px;
}

.nav-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.nav-list-link {
  position: relative;
  color: var(--primary-text-color);
  transition: color 250ms var(--timing-function);

  &.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }

  &:hover,
  &:focus,
  .current {
    color: var(--accent-color);
  }
}

.contact-item {
  transition: color 250ms var(--timing-function);

  .address-list-item > & {
    color: var(--secondary-text-color);
  }

  .address-list-item > &:hover,
  .address-list-item > &:focus {
    color: var(--accent-color);
  }
}

.address-list-item:not(:last-child) {
  margin-bottom: 16px;
}

// .header {
//     display: flex;
//     align-items: center;
//     /* padding: 32px 0; */
//     border-bottom: 1px solid rgba(236, 236, 236, 1);

//     & .address {
//     margin-left: auto;
//     }

//     & .container {
//     display: flex;
//     align-items: center;
//     margin: 0 auto
//     }

//     & .logo {
//     margin-right: 93px;
//     }
// }

// .nav {
//     display: flex;
//     align-items: center;
// }

// .nav-list,
// .address-list {
//     display: flex;

//     & {
//         @include font(500, 14px, 1.142, 0.02em);
//     }
// }

// .nav-list-item:not(:last-child) {
//     margin-right: 50px;
// }

// .address-list-item {
//     /* outline: 1px solid teal; */
//     display: flex;
//     align-items: center;

//     &:not(:last-child) {
//         margin-right: 30px;
//     }
// }

// .contact-item {
//     display: flex;
//     align-items: center;
//     padding: 32px 0;
//     transition: color 250ms var(--timing-function);

//     .address-list-item>& {
//         color: var(--secondary-text-color);
//     }

//     .address-list-item>&:hover, .address-list-item>&:focus {
//         color: var(--accent-color);
//     }
// }

// .address-icon {
//     margin-right: 10px;
//     fill: currentColor;
// }

// .logo, .footer-logo {
//     font-family: var(--secondary-font);
//     @include font(700, 26px, 1.142, 0.03em);
//     letter-spacing: 0.03em;
//     color: var(--logo-black-color);
// }

// .logo-accent {
//     color: var(--accent-color);
// }

// .nav-list-link {
//     position: relative;
//     padding: 32px 0;
//     color: var(--primary-text-color);
//     transition: color 250ms var(--timing-function);

//     &.current::after {
//         content: "";
//         position: absolute;
//         left: 0;
//         bottom: 0px;
//         display: block;
//         width: 100%;
//         height: 4px;
//         border-radius: 2px;
//         background-color: var(--accent-color);
//     }

//     &:hover,
//     &:focus,
//     .current {
//         color: var(--accent-color);
//     }
// }
