:root {
    --accent-color: #2196F3;
    --logo-black-color: #000000;
    --white-text-color: #FFFFFF;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --contacts-text-color: rgba(255, 255, 255, 0.6);
    --logo-link-color: #AFB1B8;
    --background-color-white: #FFFFFF;
    --background-color-dark: #2F303A;
    --background-color-grey: #F5F4FA;
    
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}